extends layout

block content
  h1=title
  br
  br
  h2 Recent Exercise Program:
  table.center#RecentExerciseProgram
    tr#headings
      th(height='40px') Excercise
      th Description
      th Set
      th Reps/time
    tr#Exercises
      td(height='50px') Name
      td Description
      td Set
      td Reps/time
      
    //- - var exerciseList = getPreviousExerciseProgram(); //Skal retunere en Sidst oprettede Exercise program, indeholder en liste af Exercises
        each item in exerciseList
          th Excercise.name
          th Excercise.description
          th Excercise.set
          th Excercise.repsOrtime 
  div.clearfix      
  br
  button.btn-success#createWorkOut.onclick(createExerciseProgram();) Create new WorkOut program
  button.btn-default#editWorkOut Edit WorkOut program
  button.btn-danger#deleteWorkout  Delete WorkOut program
  br
  table.center#newTable
    tr#headings
      th(height='40px') Excercise
      th Description
      th Set
      th Reps/time
    tr#Exercises
      td(height='50px') Name
      td Description
      td Set
      td Reps/time
      
      //- - var exerciseList = getPreviousExerciseProgram(); //Skal retunere en Sidst oprettede Exercise program, indeholder en liste af Exercises
        each item in exerciseList
          th Excercise.name
          th Excercise.description
          th Excercise.set
          th Excercise.repsOrtime 
  div.clearfix